body {
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(45deg, cyan, yellow);
}
.cabecalho {
    height: 150px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-bottom: 1px solid #282828;
}
.cabecalho .logo {
    display: flex;
    gap: 30px;
}
.cabecalho .logo img {
    height: 149px;
    gap: 30px;
}
.NomeDoHospital{
    color: rgb(241, 39, 69);
    padding-top: 60px;
}
h1{
    border: none;
    position: relative;
    left: 30px;
    width: 100%;
}
.content {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    color: #fff;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}
button {
    background-color: dodgerblue;
    border: none;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    position: relative;
    left: 55px;
}

button:hover{
    background-color: deepskyblue;
}
.span-required{
    color: red;
    margin: 3px 0 0 1px;
    font-size: 12px;
    display: none;

}
.span-required.selecionado{
    display: block;
}
a {
    padding: 30px;
    color: #282828;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover {
    border-bottom: 2px solid #282828;
}
